# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/

# .NET
bin/
obj/
*.user
*.userosscache
*.sln.docstates

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# Vercel
.vercel

# Mobile (React Native / Expo)
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
